#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes */
.sidebar {
    position: fixed;
    left: 0; /* Keep the sidebar in view */
    top: 56px; /* Adjust based on your navbar height */
    height: calc(100vh - 56px); /* Full height minus navbar height */
    width: 250px; /* Fixed width */
    background-color: #333;
    color: white;
    overflow-y: auto; /* Enable vertical scrolling for overflowing content */
    transition: left 0.3s ease;
    z-index: 1000; /* Ensure it stays above other content */
    padding: 10px; /* Add some padding for better spacing */
}

#sidebar-container .list-group a {
    height: auto; /* Allow height to adjust based on content */
    color: white;
    padding: 10px; /* Add padding for better clickability */
}

.sidebar .list-group .sidebar-submenu a {
    height: auto; /* Allow height to adjust for submenu items */
    padding-left: 30px;
}

/* General button styles */
.btn-outline-yes, .btn-outline-no {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    color: inherit;
    transition: all 0.3s ease;
}

/* Waiting room css */
.circular-button {
    position: fixed; /* Change to fixed for sticky effect */
    bottom: 20px; /* Distance from bottom */
    width: 60px; /* Width of the button */
    height: 60px; /* Height of the button */
    border-radius: 50%; /* Makes it circular */
    border: none; /* Remove default border */
    color: white; /* Text color */
    font-size: 24px; /* Icon size */
    z-index: 1000; /* Ensure they are above other content */
}

.container-fluid.wait-bg {
    background: url('../assets/waiting-room-bg.jpg') no-repeat center center; 
    background-size: cover; /* Makes the image cover the entire element */
    min-height: calc(100vh - 56px); 
}

#bottom-dock {
    position: fixed;
    bottom: 30px; /* Dock a little bit above the bottom edge */
    left: 50%;
    transform: translateX(-50%); /* Centers the dock horizontally */
    color: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    gap: 12px;
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dock-button {
    background-color: #3c4043; /* Default background color for other buttons */
    border: none;
    color: white; /* Default icon color */
    font-size: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dock-button:hover {
    background-color: #44474a; /* Hover effect for other buttons */
}

.exit-button {
    background-color: red; /* Red background for exit button */
}

.exit-button:hover {
    background-color: rgb(210, 0, 0); /* Darker red on hover for exit button */
}

/* Muted state for dock buttons */
.dock-button.muted {
    background-color: red; /* Red background when muted */
}

/* New styles for active state */
.dock-button.active {
    background-color: red; /* Background color when active */
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title,
.sidebar-separator,
.logo-separator {
    background-color: #333;
}

/* Custom container for main content */
.custom-container {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    max-height: calc(100vh - 120px); /* Adjust the value as needed to fit within the viewport */
}




/* General button styles */
.btn-outline-yes, .btn-outline-no {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    color: inherit;
    transition: all 0.3s ease;
}

/* Default styles for Yes button */
.btn-outline-yes {
    border-color: green;
    color: green;
    background-color: transparent;
}

/* Hover styles for Yes button */
.btn-outline-yes:hover,
.btn-outline-yes.active {
    background-color: green;
    color: white;
    border-color: green;
}

/* Default styles for No button */
.btn-outline-no {
    border-color: red;
    color: red;
    background-color: transparent;
}

/* Hover styles for No button */
.btn-outline-no:hover,
.btn-outline-no.active {
    background-color: red;
    color: white;
    border-color: red;
}

/* Ensure the button retains the active state styling */
.btn-outline-yes.active,
.btn-outline-no.active {
    pointer-events: none;
}

/* waiting room css */
.circular-button {
    position: fixed; /* Change to fixed for sticky effect */
    bottom: 20px; /* Distance from bottom */
    width: 60px; /* Width of the button */
    height: 60px; /* Height of the button */
    border-radius: 50%; /* Makes it circular */
    border: none; /* Remove default border */
    color: white; /* Text color */
    font-size: 24px; /* Icon size */
    z-index: 1000; /* Ensure they are above other content */
}
.left-button {
    left: 20px; /* Distance from left */
    background-color: #007bff; /* Button color */
}
.right-button {
    right: 20px; /* Distance from right */
    background-color: #28a745; /* Button color */
}

.container-fluid.wait-bg {
    background: url('../assets/waiting-room-bg.jpg') no-repeat center center; 
    background-size: cover; /* Makes the image cover the entire element */
    min-height: calc(100vh - 56px); 
    position: relative;
}

#bottom-dock {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    gap: 12px;
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

#bottom-dock {
    position: fixed;
    bottom: 30px; /* Dock a little bit above the bottom edge */
    left: 50%;
    transform: translateX(-50%); /* Centers the dock horizontally */
}

.dock-button {
    background-color: #3c4043; /* Default background color for other buttons */
    border: none;
    color: white; /* Default icon color */
    font-size: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.dock-button:hover {
    background-color: #44474a; /* Hover effect for other buttons */
}

.dock-button:hover i {
    color: white; /* Keep the icon white on hover */
}

.exit-button {
    background-color: red; /* Red background for exit button */
}

.exit-button:hover {
    background-color: rgb(210, 0, 0); /* Darker red on hover for exit button */
}

/* New styles for active state */
.dock-button.active {
    background-color: red; /* Background color when active */
}

.dock-button.active i {
    color: white; /* Ensure icon color is white when active */
}

/* Muted state for dock buttons */
.dock-button.muted {
    background-color: red; /* Red background when muted */
}

/* New styles for active state for settings and chat buttons */
.dock-button.settings-active,
.dock-button.chat-active {
    background-color: #007bff; /* Background color when active */
}

.dock-button.settings-active i,
.dock-button.chat-active i {
    color: white; /* Ensure icon color is white when active */
}


.sidebar {
    position: fixed;
    left: -250px; /* Hide sidebar off-screen */
    top: 56px; /* Adjust this based on your navbar height */
    height: calc(100% - 56px); /* Full height minus navbar height */
    width: 250px;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000; /* Ensure it stays above other content */
}

.sidebar.open {
    left: 0; /* Slide in when open */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    float: right;
}

.video-feed {
    background-color: aquamarine;
    height: 150px;
}
.btn-group {
    padding: 20px; /* Outer padding */
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center the buttons */
}

.btn-group .btn {
    padding: 10px 3px; /* Button padding */
    display: flex; /* Flexbox for the button */
    align-items: center; /* Center icons vertically */
    justify-content: center; /* Center icons horizontally */
    margin: 0 5px; /* Margin between buttons */
    min-width: 50px; /* Optional: Ensure buttons have a minimum width */
}

.dropdown-group select {
    width: 100%;
}

/* Adding padding to the dropdown containers */
.dropdown-item {
    padding: 10px 0;
}

/* Full width for the select dropdowns */
.dropdown-group select {
    width: 100%;
}

.btn-danger:hover {
    background-color: #c82333; /* Darker red on hover */
}












/* Popup container */
#eventPopup {
    display: none;
    position: fixed;
    top: 50%; /* Position 50% from the top */
    left: 50%; /* Position 50% from the left */
    transform: translate(-50%, -50%); /* Move it back by 50% of its own width and height to center it */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000; /* Ensure it's on top */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 40%; /* Set a fixed width for the popup */
    border-radius: 10px;
}

#eventPopup .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventPopup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.popup-content {
    text-align: left;
    padding: 20px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-buttons {
    display: flex;
    gap: 10px;
}



.icon-btn {
    background: #007bff;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-btn {
    padding: 5px 10px;
    cursor: pointer;
    background: #007bff;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-row {
    margin-top: 15px;
}

.popup-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
.popup-table th {
    background-color: #f0f0f0;

}

.popup-table th, .popup-table td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #f0f0f0;;
    border-bottom: 1px solid #f0f0f0;;
}

.popup-table th {
    font-weight: bold;
}

#modalityContainer {
    margin-top: 20px;
    width: 100%;
}

#checkboxContainer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd; /* Add border for the inner div */
    border-radius: 5px; /* Rounded corners */
}

